@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
     <br />
      <br />
       <br />

       <br />
    <h2 class="display-4">Welcome to Online Coding Competition website</h2>
     <br />
    <h3>This will help you to apply your knoweledge and compete with your fellow classmates.</h3>
    <h3>So start doing.....</h3>
</div>
