@{
ViewData["Title"] = "QidAnswer";
Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}
<div class="text-center" id="grad1">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome student to online coding.</p>
</div>