@{
ViewData["Title"] = "QidAnswer";
Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}
<div class="text-center" id="grad1">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome teacher to online coding.</p>

    <br />


    <h4>
        <br />
        This is a ASP .NET project that can be used in college as an online coding website
        <br />
        ·        Provision for teachers to give the questions.
        <br />
        ·        Provision for students to give answers and run the solution.
        <br />
        ·        Giving scores based on the number of test cases passed.
        <br />
        ·        Integrate with Jdoodle API for compilation of code.
        <br />
        ·       Used MS SQL server for database management.
        <br />
        ·       Used Postman for testing the APIs
        <br />
        .       This now work with java but it can employ more languages
    </h4>
</div>